In [1]:
import pandas as pd

In [13]:
df=pd.read_csv("video_game_sales.csv")
df.head()

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

In [14]:
df.shape

(64016, 14)

In [16]:
df = df.drop_duplicates()

In [17]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['last_update'] = pd.to_datetime(df['last_update'], errors='coerce')

In [20]:
df["developer"].isnull().sum()

np.int64(17)

In [21]:
df['developer'] = df['developer'].fillna('Unknown')

In [23]:
df["developer"].isnull().sum()

np.int64(0)

In [24]:
df["critic_score"].isnull().sum()

np.int64(57338)

In [25]:
df['critic_score'].fillna(df['critic_score'].median(), inplace=True)

/tmp/ipython-input-554450444.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['critic_score'].fillna(df['critic_score'].median(), inplace=True)

In [26]:
df["critic_score"].isnull().sum()

np.int64(0)

In [27]:
sales_cols = ['total_sales','na_sales','jp_sales','pal_sales','other_sales']
df[sales_cols] = df[sales_cols].fillna(0)

In [31]:
#Which games generated the highest total sales?

top_games = df.sort_values('total_sales', ascending=False)[
    ['title','console','genre','publisher','total_sales']
].head(10)

top_games

,title,console,genre,publisher,total_sales
0,Grand Theft Auto V,PS3,Action,Rockstar Games,20.32
1,Grand Theft Auto V,PS4,Action,Rockstar Games,19.39
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,16.15
3,Grand Theft Auto V,X360,Action,Rockstar Games,15.86
4,Call of Duty: Black Ops 3,PS4,Shooter,Activision,15.09
5,Call of Duty: Modern Warfare 3,X360,Shooter,Activision,14.82
6,Call of Duty: Black Ops,X360,Shooter,Activision,14.74
7,Red Dead Redemption 2,PS4,Action-Adventure,Rockstar Games,13.94
8,Call of Duty: Black Ops II,X360,Shooter,Activision,13.86
9,Call of Duty: Black Ops II,PS3,Shooter,Activision,13.80

In [32]:
#Which genres generate the most revenue?
genre_sales = df.groupby('genre')['total_sales'] \
                .sum() \
                .sort_values(ascending=False)

genre_sales.head(10)

genre
Sports          1187.51
Action          1125.89
Shooter          995.50
Misc             557.79
Racing           525.75
Role-Playing     426.80
Platform         349.15
Fighting         341.13
Adventure        325.39
Simulation       300.65
Name: total_sales, dtype: float64

In [33]:
#Which consoles produced the highest total sales?
console_sales = df.groupby('console')['total_sales'] \
                  .sum() \
                  .sort_values(ascending=False)

console_sales.head(10)

console
PS2     1027.76
X360     859.79
PS3      839.70
PS       546.25
PS4      539.92
Wii      459.44
DS       458.17
XOne     268.96
PSP      245.29
XB       232.05
Name: total_sales, dtype: float64

In [34]:
#Which publishers dominate total game sales?

publisher_sales = df.groupby('publisher')['total_sales'] \
                    .sum() \
                    .sort_values(ascending=False)

publisher_sales.head(10)

publisher
Activision                     722.77
Electronic Arts                644.13
EA Sports                      485.66
Ubisoft                        462.57
THQ                            320.89
Sony Computer Entertainment    311.08
Rockstar Games                 239.67
Konami                         210.70
Sega                           206.38
Nintendo                       140.80
Name: total_sales, dtype: float64

In [36]:
#Which region contributes the most to global sales?

region_totals = df[['na_sales','jp_sales','pal_sales','other_sales']].sum()
region_totals

na_sales       3345.52
jp_sales        687.94
pal_sales      1916.83
other_sales     651.12
dtype: float64

In [37]:
#Which genre performs best in each region?

region_genre = df.groupby('genre')[['na_sales','jp_sales','pal_sales','other_sales']] \
                 .sum() \
                 .sort_values('na_sales', ascending=False)

region_genre.head(10)

              na_sales  jp_sales  pal_sales  other_sales
genre
Sports          607.47    109.27     341.92       128.19
Action          589.69     80.30     342.52       112.41
Shooter         528.27     33.99     324.74       108.43
Misc            295.66     56.24     146.71        58.52
Racing          269.72     20.23     179.14        56.44
Platform        187.96     31.08      99.39        30.38
Fighting        173.96     58.61      79.84        28.65
Role-Playing    171.67    130.56      91.02        33.75
Adventure       157.26     46.11      91.52        30.11
Simulation      152.84     35.98      86.86        24.34